
<h1>Burger Time Everyone!</h1>

{{!-- new burger submission form --}}
<form class="burger-form">

	<div class="form-group">
		<label for="newBurger">Burger Name:</label>
		<input type="text" id="newBurger" name="name">
	</div>

	<button type="submit">Add A Burger!</button>

</form>


<h2>A shame that these tasty treats haven't been eaten yet!</h2>

{{!-- non-devoured burgers will appear in this area --}}
<ul>
	{{#each burgers}}
		{{#unless devoured}}
			{{> burgers/burger-block devoured=false}}
		{{/unless}}
	{{/each}}
</ul>

<h2>Great Job Eating!</h2>

{{!-- when a burger is devoured it will move to this area --}}
<ul>
	{{#each burgers}}
		{{#if devoured}}
			{{> burgers/burger-block devoured=true}}
		{{/if}}
	{{/each}}
</ul>



